* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* FONTE DO SITE */
}

/* FONTE PARA MOBILE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
  background: white;;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-container {
  display: flex;
  padding: 15px;
  margin-left: 20px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 80px;
  width: auto;
  border-radius: 0px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.logo-text h1 {
  font-size: 1.3rem;
  margin: 0;
  color: rgb(100, 0, 79);
  font-weight: 600;
}

/* MENU */

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 650;
  font-size: 0.95rem;
  position: relative;
  padding: 1px 0;
  transition: all 0.2s ease;
}
.nav-links a:hover {
  color: rgb(255, 0, 119);
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: rgb(255, 0, 157);
  transition: width 0.2s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
.login-btn {
  background: linear-gradient(60deg, rgb(145, 2, 114), rgb(255, 12, 154));
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(74, 44, 130, 0.2);
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(74, 44, 130, 0.3);
}

/* Responsividade Mobile */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 15px;
  }
  .logo-container {
    margin-bottom: 15px;
  }
  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }
}

/* Tela Login */

.form-box {
  max-width: 400px;
  margin: 30px auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.form-box label {
  display: block;
  margin-top: 10px;
}

.form-box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-box button {
  margin-top: 15px;
  padding: 10px;
  background-color: #6a017e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #8905a0;
}

.hero-image {
  position: relative;
  width: 100%;
}

.hero-image img  {
  width: 100%;
  display: block;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 13%; /* Ajuste conforme quiser a posição dos botões */
  left: 65%;
  transform: translateX(50%);
}

.btn-primary {
  background: #e60073;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  top: -50%; /* Ajuste conforme quiser a posição do botão */
  font-weight: 600;
  transform: translateY(-20%);
}
.btn-primary:hover {
  background: #b8005c;
  box-shadow: 0 4px 15px rgba(230, 0, 115, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.btn-secondary {
  background: #e60073;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  right: 890px; /* Ajuste conforme quiser a posição do botão */
  position: absolute;
  position: relative;
  top: -40px; /* Ajuste conforme quiser a posição do botão */ 
  color: #ffffff;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #b8005c;
  box-shadow: 0 4px 15px rgba(230, 0, 115, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

/* PAGINA ATIVA */

.nav-links a.active {
  color: #ff0080; /* Cor destaque do link ativo */
}

.nav-links a.active::after {
  width: 100%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}
/*------------------------*/
/* FOOTER */
/*------------------------*/
.footer {
  background: linear-gradient(to bottom, rgb(88, 3, 109), rgb(0, 0, 0));
  color: white;
  padding: 10px 10px 10px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: table;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1px;
  max-width: 1000px;
  margin: 20px;
}

.footer-container iframe {
  width: 400px;
  position: relative;
  top: -340px;
  left: 700px;

  height: 180px;
  border-radius: 40px;
  border: none;
  box-shadow: 0 2px 10px rgb(0, 0, 0);

}
 


.footer-container .text-map {
  position: relative;
  top: -350px;
  left: 800px;
  width: 200px;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  border-bottom: 2px solid white;
  display: inline-block;
}



.footer-section p,
.footer-section a {
  margin-bottom: 10px;
  color: #ddd;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-section a:hover {
  color: #e41274;
  text-decoration: none;
  transform:  translateY(-3px);
  transition: color 0.2s ease;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}



.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.712);
  font-size: 1.0rem;
  color: #ffffff;
} 



/* Ícones Font Awesome */
.footer-section i {
  color: #ffd54f;
  font-size: 1.2rem;
}

/* DESTAQUES */
.destaques {
  padding: 40px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.destaques h2 {
  margin-bottom: 30px;
  color: rebeccapurple;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cards :hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card {
  background: rgb(223, 221, 208);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.89);
  max-width: 250px;
  text-align: center;
  padding: 12px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}



/* QUEM SOMOS */
.quem-somos {
  background: linear-gradient(to bottom, rgb(233, 233, 233), rgb(255, 252, 236));
  color: rgb(0, 0, 0);
  padding: 70px 20px;
  text-align: center;
}

.quem-somos-content {
  max-width: 800px;
  margin: auto;
}

